#slidesProducts { position: relative; height: 400px; padding: 0px; margin: 0px; z-index: -1; }
.slideProducts {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.showing { opacity: 1; z-index: 2; }
.selected { background-color: var(--green)!important; opacity: 1; z-index: 2; }
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dots { position: relative; height: 0px; top: -24px; margin-bottom: -40px; }
.active, .dot:hover { background-color: var(--green); }
.slideProducts {
	text-align: center;
	font-size: 25px;
	padding: 40px;
	box-sizing: border-box;
	background: #333;
	color: #fff;
	list-style-type: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.sliderText {
	background-color: var(--grey);
    width: 300px;
    font-size: 46px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,.13);
	font-stretch: expanded;
}
.slideProducts:nth-of-type(1) { background-image: linear-gradient(180deg,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../../libraries/img/header1.jpeg); }
.slideProducts:nth-of-type(2) { background-image: linear-gradient(180deg,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../../libraries/img/header2.jpeg); }
.slideProducts:nth-of-type(3) { background-image: linear-gradient(180deg,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../../libraries/img/header3.jpeg); }
.slideProducts:nth-of-type(4) { background-image: linear-gradient(180deg,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../../libraries/img/header4.jpeg); }
.slideProducts:nth-of-type(5) { background-image: linear-gradient(180deg,rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url(../../libraries/img/header5.jpeg); }
