.delete-Tabels {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
}
.delete-Tabels > div {
  background: var(--grey);
    width: 80%;
    margin: auto;
}
.delete-Tabels > div > h1 {
    background: var(--white);
    margin: 0;
    text-align: center;
    padding: 10px;
}
.product-view {
    overflow-y: auto;
    height: 600px;
    padding-top: 20px;
    background-color: #d7d7d7;
}
.product-view > .item {
    height: min-content;
    margin-bottom: 35px;
    background: white;
}
.product-view > .item > p > button {
    font-size: 20px;
    height: 40px;
    background: var(--grey);
    border: none;
    float: right;
    text-align: center;
    margin-top: -15px;
}
.product-view > .item > p > button > a {
    text-decoration: none;
    color: var(--yellow);
    width: 100%;
    padding: 30px;
    text-align: center
}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
