#products {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: auto;
    margin-right: auto;
    min-height: 672px;
    width: 100%;
}
.item {
    margin: 30px;
    box-shadow: 0px 4px 20px 4px #888888
}
.item > h1 {
    background: var(--grey);
    margin: 0;
    font-size: 24px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.item > img {
    width: 100%;
    max-height: 300px;
}
.item > p {
    padding: 20px;
    background: var(--green);
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.buttons {text-align: center; margin-bottom: 20px; margin-top: 10px; color: black;}

.noItem {
    position: absolute;
    text-align: center;
    background: white;
    box-shadow: 0px 4px 20px 4px #888888;
    left: 50%;
    border-radius: 50px;
    margin-top: 120px;
}
.noItem > h1 {
    margin: 0;
    padding: 20px;
    background: var(--grey);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.noItem > p {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
}
.noItem > button {
    background: var(--green);
    color: white;
    border: 1px solid var(--green);
    font-size: 24px;
    height: 34px;
    width: 120px;
    box-shadow: 0px 2px 8px 0px #888888;
    position: relative;
    top: -4px;
    text-align: center;
    margin-bottom: 20px;
}
.proPage {
    width: 500px;
    margin-left: -250px;
}
.addForm > input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.addForm > input[type=submit] {
  width: 20%;
  background-color: #0f8870;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.addForm > input[type=submit]:hover {
  background-color: #0f8870;
}

.addForm > div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#productDetails {
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    /* left: 50%; */
    /* margin-left: -100px; */
    background: red;
    /* top: 50%; */
    background: lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 0.9;
}
#productDetails > div > div > table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
#productDetails > div > div > th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    background: var(--green);
    opacity: 0.8;
}
#productDetails > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    /* position: static; */
    background: white;
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
    width: 90%;
    /* margin-top: 30px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: auto;
}
#productDetails > div > div {
    margin: 20px;
    min-height: 90%;
    text-align: center;
}
#productDetails > div > div > h1 {
    background: var(--grey);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.DetailsImgOverlay {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height: 70%;
    max-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.detail-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#actionsBox {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#actionButtonLeft {
    font-size: 80px;
    height: min-content;
    margin: auto;
    margin-left: 60%;
}
#actionButtonRight {
    font-size: 80px;
    height: min-content;
    margin: auto;
    margin-right: 60%;
}
