.update > div {
    grid-template-rows: 15% 15% 40% 10% 10% 10%;
}
.update > div > h1 {
    background: var(--grey);
    margin: 0px;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 30px;
    padding-left: 15px;
}
.update > div > p {
    padding: 20px;
    background: var(--green);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    height: fit-content;
    height: 30px;
    padding-left: 15px;
}
.update > div > a {
    background: var(--grey);
    border: none;
    margin: auto;
    height: 100%;
    padding: 0;
    width: 100%;
    text-align: center;
}
.update > div > a >  input{
    background-color: var(--grey);
    color: var(--yellow);
    width: 580px;
    height: 40px;
    border: 0px;
    width: 100%;
    text-align: center;

}
.update > div > a>  input:hover{
    background-color: #314559;
    color: var(--yellow);
    width: 580px;
    height: 40px;
    border: 0px;
    width: 100%;

}
.item > button {
    padding: 10px;
    background: var(--grey);
    border: 0;
}
.item > button > a {
    padding: 30%;
    padding-bottom: 0;
    color: var(--yellow);
    text-decoration: none;
    font-size: 20px;
}
